<div
  class="flex justify-between py-2 border-b-[1px] border-b-gray-300 last:border-b-0">
  <div>
    <!-- Menu entry -->
    <h3 class="swe title text-base">{{ entry.swedish_title }}</h3>
    <p class="swe desc">{{ entry.swedish_description }}</p>
    <h3 class="hung title">{{ entry.hungarian_title }}</h3>
    <p class="hung desc">{{ entry.hungarian_description }}</p>
    <h3 class="eng title">{{ entry.english_title }}</h3>
    <p class="eng desc">{{ entry.english_description }}</p>
  </div>
  <div>
    <!-- Price entry -->
    <p class="min-w-[20vw] text-right pr-3">{{ entry.price }}:-</p>
  </div>
</div>
