@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

@layer components {
  .font-prim {
    font-family: "Pinyon Script", cursive;
  }

  .font-sec {
    font-family: 'Lora', serif;
  }

  .menu-link {
    @apply font-prim text-2xl p-3 bg-white w-screen;
  }

  .menu-link-lg {
    @apply font-prim text-[1.6rem] py-6 px-7;
  }

  .title {
    @apply font-bold text-sm lg:text-lg;
  }

  .desc {
    @apply text-xs italic lg:text-base;
  }

  .hung {
    @apply text-primary/80;
  }

  .eng {
    @apply text-gray-600;
  }

  .menu-title {
    @apply text-center text-2xl mt-4 mb-2 lg:text-3xl;
  }

  .sub-title {
    @apply text-left text-primary text-xl mt-4 lg:text-3xl;
  }

}
