{% load static %}
<div
  style="background-image: url({% static 'images/bg-parl.png' %})"
  class="bg-color bg-cover bg-center flex items-center"
>
  <div class="mx-auto mb-[4rem] mt-[12rem] bg-primary text-white px-6 py-4 font-sec rounded-md font-bold">
    Bokning: 042-21 45 22
  </div>
</div>
<div class="bg-white z-10 p-6 text-justify">
  <h1 class="swe title mt-6 text-xl">Välkommen till en äkta Ungersk restaurang!</h1>
  <h1 class="hung title text-sm">Isten hozta önöket egy igazi magyar étteremben!</h1>
  <h1 class="eng title text-sm mb-4">Welcome to a real Hungarian restaurant!</h1>
  <div class="flex justify-center">
    <button x-on:click="menu_idx = 1; menu_open = 0" class="bg-primary text-white text-sm py-2 px-4 mb-4 rounded-md">Meny</button>
  </div>
  <hr />
  <h2 class="text-left py-4 text-xl">Våra specialiteter</h2>
  <div class="mb-4 text-left">
    <h3 class="font-bold"><i>Schnitzelkavalkad på planka</i></h3>
    <p class="text-sm">
      3 olika sorters schnitzlar: Parisisk, Budapest och Pusta på planka med klyftpotatis och tomatsallad.
    </p>
    <p class="text-xs font-bold text-right mt-2">485:- (Räcker till 2-3 personer)</p>
  </div>
  <div class="mb-4 text-left">
    <h3 class="font-bold"><i>Meny för sällskap</i></h3>
    <p class="text-sm"><b>Förrätt: </b>Ostgratinerad krämig vitlöksoppa med krutonger.</p>
    <p class="text-sm">
      <b>Varmrätt: </b>Fläskfilé á la Köksmästare serveras på kryddig grönsaksbädd samt brynt klyftpotatis.
    </p>
    <p class="text-sm"><b>Dessert: </b>Hemgjord Körsbärsglass med romaromspetsad chokladsås.</p>

    <p class="text-xs font-bold text-right mt-2">
      Två rätter: 285:-<br />
      Tre rätter: 350:-
    </p>
  </div>
</div>
