{% load static %}
<div class="grid lg:grid-cols-[1fr_1fr_] lg:gap-8 lg:m-8">
  <img src="{% static "images/bg-night.png"%}" class="z-[-10] object-cover">
  <div class="m-4 lg:m-0">
    <h2 class="text-2xl font-bold lg:text-3xl">Om oss</h2>
    <p class="my-4 text-sm lg:text-lg">
      Under senare tid har vårt vackra Helsingborg fått ett brett utbud av olika restauranger. Många länder är
      representerade i den färgglada restaurang skalan. Vår ambition är att bredda detta med ett land som verkligen
      förtjänar det.
    </p>
    <p class="hung mb-4 text-sm lg:text-lg">
      Az elmúlt idöben sok új étterem nyílt a mi szép városunkban - Helsingborg-ban, ma már nagyon sok ország
      képviselteti magát ezen a sokszínü éttermi palettán. A mi célunk, hogy még egy országgal kibövítsük e széles
      skálát, Magyarország-gal amely valóban rászolgál gasztronómiai hírnevére.
    </p>

    <p class="mb-4 text-sm lg:text-lg">
      Vi erbjuder Er en nöjesresa till musikens vackra värld med välkryddade maträtter och eldiga viner.
    </p>
    <p class="hung mb-4 text-sm lg:text-lg">
      Szeretettel meghívjuk önöket egy utazásra a zene csodálatos világába, jól füszerezett ételek és tüzes borok
      kíséretében.
    </p>
  </div>
</div>
<div class="m-4 lg:m-8">
  <h2 class="text-2xl font-bold py-4 lg:text-3xl">Vi rekommenderar er att besöka Ungern!</h2>
  <p class="text-sm lg:text-lg">
    Det finns inte nog med anledningar att besöka Ungern! Ungern har ett behagligt klimat, rika kulturskatter ett
    intensivt vetenskapligt, ekonomiskt och gastronomiskt liv. Budapest är underbart! För mångfalden! För levande
    folkloren! För naturens skull! För härligt vatten! För det utmärkta köket!
    <br /><br />
    Hos oss får ni en äkta försmak på den gästvänlighet och det utmärkta kök som Ungern står för!
  </p>
</div>
